<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Kementerian PPN/Bappenas">
		<meta name="keywords" content="{% block keywords %} {% endblock %}">
		<meta name="description" content="{% block description %} {% endblock %}">
		
		<link rel="shortcut icon" href="https://www.bappenas.go.id/front/img/favicon.png" type="image/x-icon">
		<link rel="apple-touch-icon" href="https://www.bappenas.go.id/front/img/favicon.png">
		<title>Error 404 | BAPPENAS</title>
	</head>
	<body>
		<h2>Error 404</h2>
		<p>The webpage you are trying is not found</p>
	</body>
</html>