{% extends 'base.html' %}

{% block content %}
	<div class="bg-body-tertiary py-5">
		<div class="container my-5 py-5">
			<h1 class="text-center pb-5">{% block title %} Manual Penggunaan {% endblock %}</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mauris arcu, cursus ac faucibus in, imperdiet pulvinar sem. Integer vestibulum nulla id ligula venenatis vulputate. Duis sed lacinia sapien. Nullam vehicula in mauris ac ornare. Sed velit libero, consequat ac tortor nec, consectetur pharetra eros. In sapien est, porttitor sit amet nulla quis, scelerisque blandit lectus. Nullam auctor massa ac pellentesque porttitor. Etiam nec sem risus. Ut id ornare purus, nec pharetra velit. Pellentesque tristique, lorem a auctor cursus, mi mi tincidunt orci, volutpat fermentum ante augue at sapien. Duis ut nunc vitae risus sagittis tempor. Integer rutrum eget libero eu vestibulum.</p>
			<p>Nulla aliquet nulla sed lorem rutrum faucibus. Vivamus ullamcorper venenatis nisi in sodales. Proin eu sodales nisi, sed sagittis tortor. Cras magna nibh, ultrices a odio sed, bibendum tincidunt nibh. Aliquam lacus nulla, interdum nec odio et, convallis tristique arcu. Maecenas dapibus urna lectus, at efficitur lorem hendrerit ut. Proin nec diam tortor. Proin interdum sapien at velit maximus sodales. Integer scelerisque est id ligula posuere condimentum. Donec ligula ex, aliquam sed elit sit amet, tempus iaculis purus. Quisque dictum non lectus nec rutrum. Integer sed egestas arcu. Morbi vel tortor hendrerit, consectetur tortor ut, euismod enim. Aliquam lacinia sodales tortor, ut commodo nulla tristique et.</p>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				<li>Phasellus bibendum tellus et convallis viverra.</li>
				<li>Maecenas id erat sagittis metus iaculis dapibus.</li>
				<li>Fusce vitae urna non mauris iaculis suscipit auctor eu urna.</li>
				<li>Fusce rutrum tortor in est laoreet porttitor.</li>
				<li>Nullam vitae tortor posuere est maximus hendrerit sed non nisi.</li>
				<li>Nam imperdiet lectus nec mi auctor luctus.</li>
				<li>Cras elementum lorem in magna laoreet, a malesuada lorem dignissim.</li>
				<li>Duis porttitor mi vitae nisi porttitor posuere.</li>
			</ul>
		</div>
	</div>
{% endblock %}